@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.block {
    width: 30vh;
    height:30vh;
    background-color: #000;
    color:#fff;
    padding: 1rem;
    margin: 10px;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float:right;
    margin-left:10px;
}

.clear{
    clear:both;
}

section {
    background-color: bisque;
    color: #333;
    border: 1px solid #333;
    display: flow-root;
}